{% extends 'favorites/base.html' %}

{% block content %}
    {% load static %}
    <section class="masthead-c text-center d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-5 mx-auto text-center bg-3 pad-b">
                    <img src="{% static 'favorites/img/nav/compte_log.svg' %}" width="100" alt="photo-profil">
                    <br><br><br>
                    <strong><h2 class="text-white">{{ user.username }}</h2></strong>
                    <p class="text-white">{{ user.email }}</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}