{% load static %}
<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="bg-3">
                    <strong>Du gras, oui mais de qualité!</strong>
                </h1>
                <hr>
            </div>
            <div class="col-lg-6 mx-auto">
                <p class="text-white mb-5"><span class="bg-3">Trouvez un produit de substitution pour ceux que vous
                    consommez tous les jours.</span>
                </p>
                <form class="input-group-mb input-group-append" action={% url 'search' %} method="post">
                    {% csrf_token %}
                    <input class="form-control" type="search" name="research" placeholder="Produit...">
                    <input class="loop btn btn-sm" type="image" src="{% static 'favorites/img/loop.svg' %}"
                           width="44" alt="chercher">
                </form>
            </div>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-faded">Colette et Remy</h2>
                <hr class="light my-4">
                <p style="text-align: justify;" class="text-faded mb-4">Colette Tatou : "Nous aimons tous manger,
                    surtout en France ! Personnellement, une baguette fraîche, du bon fromage de chèvre et un bon vin
                    rouge me
                    suffisent amplement. Comme tout le monde, je fais mes courses au supermarché. Mais petit à petit je
                    me suis rendue compte, surtout lorsque nous avons ouvert
                    le restaurant, que je pouvais remplacer les produits aseptisés que j'avais l'habitude d'acheter par
                    de bons produits du terroir et souvent pour le même prix !"<br/>
                    <br/>
                    Remy : "Pour ma part je me rendais déjà dans bien des magasins car j'aime beaucoup me balader,
                    surtout dans les caves et les cuisines. Je connaissais par coeur le contenu des boutiques bio (dont
                    je raffole)
                    ainsi que les ingrédients de tous les aliments vendus. Lorsque Colette m'a demandé si elle pouvait
                    remplacer son Nutella matinal par un aliment plus sain, je savais
                    tout de suite où le trouver. L'idée de Pur Beurre était née !"
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center">
                <img src="{% static 'favorites/img/home/colette.png' %}" alt="Colette" width="160">
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <img src="{% static 'favorites/img/home/remy.png' %}" alt="Remy" width="160">
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Contactez-nous!</h2>
                <hr class="my-4">
                <p class="mb-5">Ready to start your next project with us? That's great! Give us a call or send us an
                    email and we will get back to you as soon as possible!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center">
                <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
                <p>123-456-6789</p>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
                <p>
                    <a href="mailto:your-email@your-domain.com">contact@purbeurre.com</a>
                </p>
            </div>
        </div>
    </div>
</section>