{% extends 'favorites/base.html' %}


{% block content %}

    <section class="masthead-c d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-8 mx-auto text-justify">
                    <h3><strong>Mentions Légales</strong></h3>
                    <h5><strong>Informations légales</strong></h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ultricies posuere quam id
                        convallis. Curabitur mollis odio id turpis vulputate tempor. Cras non mi eros. Phasellus et odio
                        aliquet, sagittis purus sit amet, aliquam erat. Proin et vehicula urna. Cras purus neque, mollis
                        ut tincidunt in, fringilla vitae mi. Mauris varius tincidunt urna, sed finibus elit elementum
                        malesuada. Sed a massa orci. Aliquam rhoncus dolor nec lectus imperdiet maximus. Praesent
                        dapibus nulla in quam ultricies sodales. Cras maximus risus in leo dapibus posuere. Suspendisse
                        bibendum eget nibh eget convallis.<br><br>
                        Propriétaire : SARL PURBEURRE – 28 rue Emile Zola, 75000 – Paris<br>
                        Hébergeur : <a href="https://www.heroku.com/">Heroku</a><br>
                        Thème utilisé : <a href="https://blackrockdigital.github.io/startbootstrap-creative/">Bootstrap</a><br>
                        Image page d'accueil : <a href="https://unsplash.com/photos/k60JspcBwKE">Kawin Harasai</a><br>
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}