{% extends 'favorites/base.html' %}


{% block content %}
    <section class="masthead-c text-center d-flex">
        <div class="container my-auto">
            <div class="row">
                 <div class="col-lg-4 mx-auto text-center">
                     {% if user.is_authenticated %}
                         <h3>Bonjour {{ user.username }}!</h3>
                         <hr>
                     {% else %}
                         <h5>Déjà abonné ?</h5>
                         <hr class="bg-3">
                         {% if error %}
                         <div class="alert alert-danger">{{ error }}</div>
                        {% endif %}
                         <form class="input-group-mb" method="post" action="{% url 'login' %}">
                             {% csrf_token %}
                             {{ form.as_p }}
                             <input class="form-control btn-b text-white in" type="submit" value="Se connecter"/>
                         </form>
                         <div class="pad">
                             <h5>S'inscrire</h5>
                             <hr class="bg-3">
                             <button class="form-control btn-b">
                                 <a class="text-white" href="{% url 'registration' %}">Créer un compte</a>
                             </button>
                         </div>
                     {% endif %}
                 </div>
            </div>
        </div>
    </section>
{% endblock %}